body{
    background-image: url(\header.jpg);
    background-size: 1500px 800px;
    background-repeat: no-repeat;
}
#box01{
    border-style: solid;
    border-width: 2px;
    background-color:#807A78;
    color: #807A78;
    width: 1400px;
    position: absolute;
    top: 40px;
}
#box02{
    color: rgba(255,255,255,.7);
    text-decoration: none;
    position: absolute;
    left: 1100px;
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
}

li{
    list-style-type: none;
}
#box03{
    color: rgba(255,255,255,.7);
    text-decoration: none;
    position: absolute;
    left: 1170px;
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
}
#box04{
    color: rgba(255,255,255,.7);
    text-decoration: none;
    position: absolute;
    left: 1240px;
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
}
#box05{
    color: rgba(255,255,255,.7);
    text-decoration: none;
    position: absolute;
    left: 1320px;
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
}
#box002{
    color: whitesmoke;
    position: absolute;
    left: 50px;
    top: -10px;
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
}
#box06{
    color: floralwhite;
    text-decoration: none;
    position: absolute;
    left: 400px;
    top: 100px;
    font-weight: bold;
    font-size: 150px;
    font-family: sans-serif;
}
#box07{
    color: floralwhite;
    text-decoration: none;
    position: absolute;
    left: 410px;
    top: 320px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#box08{
    color: floralwhite;
    text-decoration: none;
    position: absolute;
    left: 310px;
    top: 400px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#box09{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 320px;
}
#box10{
    height: 1000px;
    width: 1423px;
    position: relative;
    left: -10px;
    top: 720px;
    border: 100px;
    background-color: #222222;
    border: 1px solid #222222;
}
#box11{
    position: absolute;
    top: 840px;
    left: 10px;
}
#box12{
    position: absolute;
    top: 840px;
    left: 350px;
}
#box13{
    position: absolute;
    top: 840px;
    left: 680px;
}
#box14{
    position: absolute;
    top: 840px;
    left: 1020px;
}

:hover#box11{	    box-shadow: 0 0 40px 5px dodgerblue;    }
:hover#box12{	    box-shadow: 0 0 40px 5px dodgerblue;    }
:hover#box13{	    box-shadow: 0 0 40px 5px dodgerblue;    }
:hover#box14{	    box-shadow: 0 0 40px 5px dodgerblue;    }
:hover#box02{ color: #F05F40;}
:hover#box03{ color: #F05F40;}
:hover#box04{ color: #F05F40;}
:hover#box05{ color: #F05F40;}
#box17{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    position: absolute;
    left: 580px;
    top: 1400px;
    font-size: 30px;
}
#box18{
    border-style: solid;
    border-width: 2px;
    background-color: orangered;
    color: orangered;
    width: 300px;
    left: 590px;
    position: absolute;
    top: 1450px;   
}
#box19{
    font-family: sans-serif;
    color: whitesmoke;
    position: absolute;
    left: 420px;
    top: 1450px;
    font-size: 15px;
}
#box20{
    font-family: sans-serif;
    color: whitesmoke;
    position: absolute;
    left: 580px;
    top: 1470px;
    font-size: 15px;
}

#box21{
    position: absolute;
    top: 1535px;
    height: 80px;
    left: 250px;
}
#box22{
    position: absolute;
    top: 1530px;
    height: 90px;
    left: 340px;
}
#box23{
    position: absolute;
    top: 1540px;
    height: 60px;
    left: 450px;
}
#box24{
    position: absolute;
    top: 1540px;
    height: 60px;
    left: 550px;
}
#box25{
    position: absolute;
    top: 1535px;
    height: 80px;
    left: 650px;
}
#box26{
    position: absolute;
    top: 1535px;
    height: 70px;
    left: 750px;
}
#box27{
    position: absolute;
    top: 1550px;
    left: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 20px;
}
#box28{
    position: absolute;
    top: 1535px;
    height: 80px;
    left: 150px;
}
#box29{
    position: absolute;
    left: 200px;
    top: 10px;
}
#box30{
    position: absolute;
    top: 1540px;
    height: 70px;
    width: 140px;
    left: 5px;
} 
.button1 a{
    position: absolute;
    top: 1180px;
    left: 1010px;
 display: block;
  height: 40px;
  width: 120px;
  background: #00b7ea;
    /*TYPE*/
  color: white;
  font: 17px/40px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.button2 a{
    position: absolute;
    top: 1180px;
    left: 1140px;
 display: block;
  height: 40px;
  width: 120px;
  background: #00b7ea;
    /*TYPE*/
  color: white;
  font: 17px/40px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;

}
.button3 a{
    position: absolute;
    top: 1240px;
    left: 100px;
 display: block;
  height: 40px;
  width: 120px;
  background: #00b7ea;
    /*TYPE*/
  color: white;
  font: 15px/40px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;

}
.button4 a{
    position: absolute;
    top: 1240px;
    left: 230px;
 display: block;
  height: 40px;
  width: 120px;
  background: #00b7ea;
    /*TYPE*/
  color: white;
  font: 15px/40px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;

}
.button5 a{
    position: absolute;
    top: 1240px;
    left: 360px;
 display: block;
  height: 40px;
  width: 120px;
  background: #00b7ea;
    /*TYPE*/
  color: white;
  font: 15px/40px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;

}
#box10a{
    width: 1200px;
    height: 60px;
    position: absolute;
    top: 750px;
    left: 80px;
    border-radius: 10px;
    background-color: #3DAE38;
    border: 1px solid #3DAE38;
}
#box10b{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    position: absolute;
    top: 745px;
    left: 450px;
    font-size: 30px;
    cursor: pointer;
}
:hover#box10b{ color: rebeccapurple;}

#box10c{
    width: 1200px;
    height: 60px;
    position: absolute;
    top: 1100px;
    left: 80px;
    border-radius: 10px;
    background-color: #3DAE38;
    border: 1px solid #3DAE38;
}
#box10d{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    position: absolute;
    top: 1090px;
    left: 450px;
    font-size: 30px;
    cursor: pointer;
}
:hover#box10d{ color: rebeccapurple;}

.button6 a{
    position: absolute;
    top: 1180px;
    left: 100px;
    display: block;
    height: 40px;
    width: 120px;
    background: #00b7ea;
    /*TYPE*/
  color: white;
  font: 17px/40px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
}
.button7 a{
    position: absolute;
    top: 1180px;
    left: 230px;
    display: block;
    height: 40px;
    width: 120px;
    background: #00b7ea;
    /*TYPE*/
  color: white;
  font: 17px/40px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
}
.button8 a{
    position: absolute;
    top: 1180px;
    left: 360px;
    display: block;
    height: 40px;
    width: 120px;
    background: #00b7ea;
    /*TYPE*/
  color: white;
  font: 17px/40px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
}
.button9 a{
    position: absolute;
    top: 1180px;
    left: 490px;
    display: block;
    height: 40px;
    width: 120px;
    background: #00b7ea;
    /*TYPE*/
  color: white;
  font: 17px/40px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
}
.button10 a{
    position: absolute;
    top: 1180px;
    left: 620px;
    display: block;
    height: 40px;
    width: 120px;
    background: #00b7ea;
    /*TYPE*/
  color: white;
  font: 17px/40px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
}
.button11 a{
    position: absolute;
    top: 1180px;
    left: 750px;
    display: block;
    height: 40px;
    width: 120px;
    background: #00b7ea;
    /*TYPE*/
  color: white;
  font: 17px/40px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
}
.button12 a{
    position: absolute;
    top: 1180px;
    left: 880px;
    display: block;
    height: 40px;
    width: 120px;
    background: #00b7ea;
    /*TYPE*/
  color: white;
  font: 17px/40px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
}